div {
  width: 97%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
 > span {
    color: #fff;
  position: relative;
  padding: 20px;
  background-color: red;
  transition: 1s;
  
  &::after {
    content: "this is tooltip content";
    top: -75px;
    width: 110%;
    transition: 4s;
    padding: 20px;
    height: 20px;
    display: none;
    color: #fff;
    position: absolute;
    left: -26.5px;
    background-color: #333;
  }
  &:before {
    content: "";
    left: 40%;
    position: absolute;
    top: -15px;
    border-style: solid;
    display: none;
    border-width: 10px;
    border-color: #333 transparent transparent;
  }
  &:hover::before,&:hover::after{
    transition-delay: 4s;
    display: block;
    }
  }
}